<% if (files) { %> <% files.map(file => { %>
<div class="data file" id="<%= file.id %>">
  <div class="icon">
    <span class="material-symbols-outlined"> draft </span>
  </div>
  <div class="file-name-container">
    <span class="file-name">
      <a href="/drive/file/<%= file.id%>"><%= file.name %></a></span
    >
  </div>
</div>
<% }) %> <% } else { %> <%- include('InvalidPage') %> <% } %>
