<section class="dialog-section">
  <dialog class="dialog dialog-share" id="dialog">
    <h3>Share Folder</h3>
    <div class="text-content">
      <p>
        Select the number of days that you want for your folder to be shared.
      </p>
    </div>
    <div class="dialog-form-container">
      <form action="" method="post" class="folder-share-form">
        <label for="share">Duration:</label>
        <input type="number" id="share" name="share" />
        <div class="button-container">
          <button type="submit">Share</button>
          <button type="button" class="cancel-btn">Cancel</button>
        </div>
      </form>
    </div>
  </dialog>
</section>
