<section class="dialog-section">
  <dialog class="dialog" id="dialog">
    <form action="<%=currentUrl%>" method="post" class="dialog-form">
      <label for="title">Name: </label>
      <input type="text" name="title" id="title" />
      <div class="button-container">
        <button type="submit">Submit</button>
      </div>
    </form>
  </dialog>
</section>
