<nav>
  <ul class="nav-menu">
    <li>
      <span class="material-symbols-outlined"> home </span>

      <div>Home</div>
    </li>
    <li>
      <span class="material-symbols-outlined add-file-btn">add</span>

      <div>File</div>
    </li>
    <li>
      <span class="material-symbols-outlined open-button"
        >create_new_folder</span
      >

      <div>Folder</div>
    </li>
    <li>
      <span class="material-symbols-outlined"> person </span>

      <div>Account</div>
    </li>
  </ul>
</nav>
