<nav>
  <ul class="nav-menu">
    <li>
      <a href="/">
        <button class="nav-button home">
          <span class="material-symbols-outlined"> home </span>
          <div>Home</div>
        </button>
      </a>
    </li>
    <li>
      <button class="nav-button add-file-btn">
        <span class="material-symbols-outlined">add</span>
      </button>
      <div>File</div>
    </li>
    <li>
      <button class="nav-button open-button">
        <span class="material-symbols-outlined open-button"
          >create_new_folder</span
        >
      </button>
      <div>Folder</div>
    </li>
    <li>
      <button class="nav-button">
        <span class="material-symbols-outlined"> person </span>
      </button>
      <div>Account</div>
    </li>
  </ul>
</nav>
