<nav>
  <ul class="nav-menu">
    <li>
      <a href="/">
        <button class="nav-button home">
          <span class="material-symbols-outlined"> home </span>
          <div>Home</div>
        </button>
      </a>
    </li>
    <li>
      <button class="nav-button add-file-btn">
        <span class="material-symbols-outlined">add</span>
        <div>File</div>
      </button>
    </li>
    <li>
      <button class="nav-button open-button">
        <span class="material-symbols-outlined open-button"
          >create_new_folder</span
        >
        <div>Folder</div>
      </button>
    </li>
    <li>
      <a href="/log-out">
        <button class="nav-button log-out">
          <span class="material-symbols-outlined"> logout </span>
          <div>Log Out</div>
        </button>
      </a>
    </li>
  </ul>
</nav>
