<section class="toolbar-section" hidden>
  <div class="toolbar-container">
    <div class="icon-container">
      <button class="close-btn" type="button">
        <span class="material-symbols-outlined">close</span>
      </button>
      <button type="submit" class="delete-btn">
        <a class="delete-link">
          <span class="material-symbols-outlined">delete</span>
        </a>
      </button>
      <button class="edit-btn" type="button">
        <span class="material-symbols-outlined">edit</span>
      </button>
    </div>
  </div>
</section>
