<section class="toolbar-section" hidden>
  <div class="toolbar-container">
    <div class="icon-container">
      <form action="" method="post" class="toolbar-form">
        <button class="close-btn" type="button">
          <span class="material-symbols-outlined">close</span>
        </button>
        <button type="submit">
          <a class="delete-link">
            <span class="material-symbols-outlined">delete</span>
          </a>
        </button>
        <button>
          <a href="" class="update-link">
            <span class="material-symbols-outlined">edit</span>
          </a>
        </button>
      </form>
    </div>
  </div>
</section>
