<section class="toolbar-section" hidden>
  <div class="toolbar-container">
    <div class="icon-container">
      <button class="close-btn" type="button">
        <span class="material-symbols-outlined">close</span>
      </button>
      <button class="share-btn" type="button">
        <span class="material-symbols-outlined">share</span>
      </button>
      <form
        action="drive/file/download/:id"
        method="post"
        class="form-download-file"
      >
        <button class="download-btn" type="submit">
          <span class="material-symbols-outlined">download</span>
        </button>
      </form>
      <button class="edit-btn" type="button">
        <span class="material-symbols-outlined">edit</span>
      </button>
      <button type="submit" class="delete-btn">
        <a class="delete-link">
          <span class="material-symbols-outlined">delete</span>
        </a>
      </button>
    </div>
  </div>
</section>
