/* GOOGLE FONTS */
/* google icons import */

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: #fff;
}

:root {
  --bg-color: #121212;
  --bg-icon-color: #1e1f24;
  --text-color: #fff;
}

/* CSS RESET */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

/* GENERAL ELEMENTS */

body {
  display: grid;
  background-color: var(--bg-color);
  grid-template-rows: 0.5fr 2fr 1fr;
  color: var(--text-color);
}

header {
  color: var(--text-color);
}

main {
  padding: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

dialog {
  margin: auto;
  border: 0;
}

/* NAVBAR */
nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0.5rem;
  background-color: #1e1f24;
}

nav > .nav-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.nav-menu > li {
  flex: 1;
  text-align: center;
  color: #ffff;
}

.nav-button {
  background-color: #1e1f24;
  border: none;
}
li > .material-symbols-outlined,
li > a > .material-symbols-outlined {
  font-size: 2rem;
  color: #ffff;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.download-btn,
.delete-btn {
  background-color: var(--bg-icon-color);
}

/* TOOLBAR */

.toolbar-section {
  background-color: var(--bg-icon-color);
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

.toolbar-icon-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.toolbar-icon-container > button {
  background-color: #1e1f24;
  border: none;
}
.toolbar-icon-container > form {
  display: inline;
}

/* data section icon/file */

.data-section {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 0.5rem;
}
.category-container {
  color: var(--text-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.icon-container {
  color: #fff;
  background-color: var(--bg-icon-color);
  padding: 1rem;
  border: 1px solid #fff;
}

.icon-title-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 25px;
}

.grid-row {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  cursor: pointer;
}

.grid-row:hover {
  background-color: #000;
}

.folder-size,
.folder-created-at,
.file-size,
.file-created-at {
  text-align: center;
}

/* file details */

.file-container {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  background-color: var(--bg-icon-color);
  padding: 1rem;
}
.file-buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  cursor: pointer;
}

/* DIALOG */
dialog {
  padding: 1rem;
  background-color: #1e1f24;
  color: var(--text-color);
  border-radius: 10px;
}

dialog::backdrop {
  background-color: #000;
  opacity: 70%;
}

.dialog-form-container > form {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}

form > .form-group {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}

.button-container > button {
  text-transform: uppercase;
  padding: 0.5rem;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  cursor: pointer;
}
