<html>
  <head>
    <title>Shared Folder</title>
    <link rel="stylesheet" href="/stylesheet/main.css" />
  </head>
  <body>
    <header></header>
    <main>
      <section class="shared-folder-section">
        <%- include('./partials/folder', {currentFolder: currentFolder}) %>
      </section>
    </main>
  </body>
</html>
