<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <header></header>
    <main>
      <section class="form-section">
        <form action="/" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="file_upload">Choose file: </label>
            <input type="file" name="file_upload" id="file_upload" multiple />
          </div>
          <div class="button-container">
            <button type="submit">Submit</button>
          </div>
        </form>
      </section>
    </main>
  </body>
  <footer></footer>
</html>
